.floor-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.floor-box {
  flex-basis: 20%;
  height: 100px;
  background-color: #90ee90;
  color: black; /* Set text color to black */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 500; /* Set font weight to bold */
  padding: 8px;
  text-align: center;
}